@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

.fully-visible-toast .p-toast-message-success {
  background-color: rgba(228, 248, 240, 1);
}

.fully-visible-toast .p-toast-message-error {
  background-color: rgba(255, 231, 230, 1);
}

.fully-visible-toast .p-toast-message-warn {
  background-color: rgba(255, 242, 226, 1);
}

.fully-visible-toast .p-toast-message-info {
  background-color: rgba(219, 234, 254, 1);
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #1db954 transparent; /* Adjust colors as needed */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: white; /* Track color */
}

.custom-audio-player .rhap_container {
  background-color: #1db954; /* Apply background color to the container */
}

.custom-audio-player .rhap_progress-bar {
  background-color: white;
}

.custom-audio-player .rhap_progress-indicator {
  background-color: white;
}

.custom-audio-player .rhap_current-time {
  color: white;
}

.custom-audio-player .rhap_total-time {
  color: white;
}

.custom-audio-player .rhap_additional-controls * {
  color: white;
  fill: white;
}

.custom-audio-player .rhap_volume-container * {
  color: white;
  fill: white;
}

.custom-audio-player .rhap_volume-bar {
  background-color: white;
}

.custom-audio-player .rhap_volume-indicator {
  background-color: white;
}

.custom-audio-player .rhap_main-controls * {
  fill: white;
}

.custom-audio-player .rhap_progress-filled {
  background-color: #1c1c1c;
}

@keyframes scroll-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
}

.justify-end .p-column-header-content {
  justify-content: flex-end;
}

.input-file::-webkit-file-upload-button {
  background-color: #1db954;
  color: white;
  border: none;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.input-file {
  padding-left: 0;
}

body {
  background-color: #1c1c1c;
}
